.testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 12px;
    height: 900px;
    overflow: hidden;

    .swiper-container {
        width: 100%;
        height: 900px;
    }

    .swiper-wrapper {
        width: 100%;
        height: 900px !important;
        -webkit-transition-timing-function: linear !important;
        -o-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: 100% !important;
        padding: 10px;
    }
}

.testimonials__col {
    padding: 0 10px;
    display: grid;
    gap: 12px;

    .test {
        min-width: 320px;
        min-height: 370px;
    }
}